rules_version = '2';

// Craft rules based on data shaping our and behavior of our application
service firebase.storage {
  match /b/{bucket}/o {
    match /news/{allPaths=**} {
      // Allow anyone to read news images
      allow read: if true;
      
      // Only authenticated users can upload or delete images
      // We check for auth != null to match the Firestore rules
      allow write: if request.auth != null;
    }
  }
}
